*{
    margin:0;
    padding:0
}
.navbar{
    font-size: 20px;
    padding: 0;
    border-bottom: 0.2px solid rgb(134, 134, 134);

}
.nav-item{
    margin-right:25px;
}
.active{
    background-color: rgb(134, 134, 134);
    border-radius: 0.5rem;
    font-weight: 400;
    color: white !important;
}
.list-group li{
    border: 0.2px dotted grey;
    list-style: none;
    padding:10px;
    border-radius: 0;
}
.list-group a{
    border-radius: 0;
}
.btn-primary{
    background-color: rgb(134, 134, 134);
    border: 2px solid black;
    margin-left:10px
}
.btn-primary:hover{
    background-color: black;
    color:white;
    border: 2px solid black;
}
tr{
    text-align: center;
}
input[type='checkbox']:checked{
    background-color: rgb(134, 134, 134) !important;
    border:1px solid black;
}
input[type='radio'] {
    appearance: none;
    background: white;
    border: 1px solid rgb(134, 134, 134);
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }
input[type='radio']:checked{
    background-color: rgb(134, 134, 134) !important;
    border:1px solid black;
    color:white
}
.form-check-input:focus {
    box-shadow: 0 0 2px 2px rgb(156, 156, 156)
  }

.form-control:focus{
    box-shadow: 0 0 2px 2px rgb(156, 156, 156);
    border:black
}

.heading {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .price{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .colorGrey{
    background-color: rgb(134, 134, 134);
    color:white
  }